{% extends "OpensoftBookshelfBundle::layout.html.twig" %}

{% block title "Books list" %}

{% block content %}
    <div class="container">
        <div class="bookshelf-search">
            <form class="navbar-form" role="search" method="post" action="{{ path('book') }}">
                <div class="form-group">
                    <input type="text" name="search" class="form-control" placeholder="Название книги или автор..." size="80">
                </div>
                <button type="submit" class="btn btn-default">Найти</button>
            </form>
        </div>

        <a href="{{ path('book_new') }}">
            + Добавить книгу
        </a>

        {% if books is not empty %}
            <table class="table table-bordered table-hover bookshelf-table">
                <tr>
                    <th> Название книги </th>
                    <th> Автор </th>
                    <th> Категория </th>
                    <th> Владелец </th>
                </tr>
                {% for book in books %}
                    <tr>
                        <td>
                            <a href="{{ path('book_show', {'id': book.id}) }}">
                                {{ book.name }}
                            </a>
                        </td>
                        <td> {{ book.author }}</td>
                        <td> {% if book.category is defined %}{{ book.category.name }} {% endif %}</td>
                        <td>
                            {% for user in book.users %}
                                {{ user.id }}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}
