{% extends "OpensoftBookshelfBundle::layout.html.twig" %}

{% block title "Books list" %}

{% block content %}

        <a href="{{ path('book_new') }}" class="pull-right">
            <span class="glyphicon glyphicon-plus-sign"></span> Добавить книгу
        </a>

        {% if books is not empty %}
            <table class="table table-bordered table-hover bookshelf-table">
                <tr>
                    <th> Название книги </th>
                    <th> Автор </th>
                    <th> Категория </th>
                    <th> Владелец </th>
                </tr>
                {% for book in books %}
                    <tr>
                        <td>
                            <a href="{{ path('book_show', {'id': book.id}) }}">
                                {{ book.name }}
                            </a>
                        </td>
                        <td> {{ book.author }}</td>
                        <td> {% if book.category is not empty %}{{ book.category.name }} {% endif %}</td>
                        <td>
                            {% for user in book.users %}
                                {{ user.username }}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
{% endblock %}
