{% extends '@OpensoftBookshelf/layout.html.twig' %}

{% form_theme form _self %}

{% block form_row %}
    <div class='form-group'>
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form, { 'attr': { 'class': 'form-control' }}) -}}
    </div>
{% endblock form_row %}

{% block content -%}
    <h1>Добавить книгу</h1>

    <div class="col-xs-4">
        {{ form(form) }}
        <a href="{{ path('book') }}">
            Обратно к списку
        </a>
    </div>

{% endblock %}
