{% extends "OpensoftBookshelfBundle::layout.html.twig" %}

{% block title "Books list" %}

{% block content %}
    <div class="container">
        <h1>{{ book.name }}</h1>
        <table class="table table-bordered table-hover bookshelf-table">
            <tr>
                <td> Author</td>
                <td> {{ book.author }} </td>
            </tr>
            <tr>
                <td> Link </td>
                <td> {{ book.link }}</td>
            </tr>
            <tr>
                <td> Description </td>
                <td> {{ book.description }}</td>
            </tr>
            <tr>
                <td> Category </td>
                <td> {{ book.category.name }}</td>
            </tr>
        </table>
    </div>
{% endblock %}
