{% extends "OpensoftBookshelfBundle::layout.html.twig" %}

{% block content -%}
    <h1>Тип контактов</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('contact') }}">
            Обратно к списку
        </a>
    </li>
    <li>
        <a href="{{ path('contact_type_edit', { 'id': entity.id }) }}">
            Редактировать
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
