<div class="navbar-link navbar-inverse" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('book') }}">BookShelf</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('book') }}">Книги</a></li>
                        <li><a href="{{ path('category') }}">Категории</a></li>
                        <li><a href="{{ path('contact_type') }}">Контакты</a></li>
                    </ul>
                </div>
            </div>
            <div>

            </div>
            <div class="col-md-3">
                <div class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    Выйти
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('fos_user_security_login') }}">
                                    Войти
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
